<!-- sign up form -->
<div class="login-signup">
  <form action="/signup" method="post">
    <label for="first_name"></label>
    <input type="text" name="user[first_name]" id="signup-fn" placeholder="Enter Your First Name">
    <label for="last_name"></label>
    <input type="text" name="user[last_name]" id="signup-ln" placeholder="Enter Your Last Name">
    <label for="email"></label>
    <input type="text" name="user[email]" id="signup-email" placeholder="Enter Your Email Address">
    <label for="password"></label>
    <input type="password" name="user[password]" id="signup-pw" placeholder="Enter Your Password""><br><br>
    <input type="submit" value="Signup!">
  </form>
</div>
